header {
  text-align: center;
  border: 1px solid red;
}

.color {
  border: 1px solid black;
  border-radius: 5px;
  margin: auto;
}

#cor1 {
  background-color: black;
  width: 30px;
  height: 30px;
  margin: 20px;
  display: inline-block;

}

#cor2 {
  background-color: #089ffc;
  width: 30px;
  height: 30px;
  margin: 20px;
  display: inline-block;
}

#cor3 {
  background-color: #12cde6;
  width: 30px;
  height: 30px;
  margin: 20px;
  display: inline-block;
}

#cor4 {
  background-color: #08fcd6;
  width: 30px;
  height: 30px;
  margin: 20px;
  display: inline-block;
}

#color-palette {
  border: 1px solid red;
  width: 100%;
  border-radius: 5px;
  margin: 10px;
}

.pixel {
  border: solid 1px black;
  width: 40px;
  height: 40px;
  display: inline-block;
  background-color: white;
}

.limit {
  width: fit-content;
  height: fit-content;
}
